<!DOCCTYPE html>
<html>
<head>
<title> Project A </title>
<link rel="stylesheet" href="styles.css">
</head>

<body>


<h1>Project A</h1>

<p>Menu</p>
<li>
<a href = "update.html"> Add a Record </a>
</li>
<li>
<a href = "display_item.html"> Display item </a>
</li>
<li>
<a href = "title_search.html">  Title Search </a>
</li>
<li>
<a href = "title_search_table.html">  Title Search - table </a>
</li>
<li>
<a href = "title_search_table3.html">  Title Search - table ( session ) </a>
</li>
<li>
<a href= "/displayrec1?item=13" >  display 13 </a>
</li>
<li>
<a href= "/searchTitle?keyword1=ham&keyword2=eggs&keyword3=&and_sel=and_sel"> test get</a> 
</li>

</body>
</html>

